# Spark
Olá, sou Janatã Aruanda, estou treinando e aprendendo coisa novas no spark, deixarei tudo explicado nos notebook.

# As importações do spark e algumas bibliotecaas

In [1]:
# Importando findspark
import findspark

In [2]:
# Initialize and provide path
findspark.init("C:\spark-3.2.2-bin-hadoop2.7")

In [3]:
# Import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

spark = SparkSession.builder.getOrCreate()

# Parte do datafarme e as manipulações

In [7]:
#Criando um schema para o cabeçãho do datafarme
arqschema = "id INT, nome STRING, status STRING, cidade STRING, vendas INT, data STRING"

In [168]:
# lendo o arquivos e passando parametros (passando o parametro do schema do cabeçalho)
df = spark.read.csv(r'C:\Users\Janatã\Desktop\Aula_spark\download\despachantes.csv', header = 'False', schema = arqschema )

In [85]:
#Imprimento os nome das colunas 
df.columns

['id', 'nome', 'status', 'cidade', 'vendas', 'data']

In [86]:
#Uma das formas de listar o schema do datafarme
df.schema

StructType(List(StructField(id,IntegerType,true),StructField(nome,StringType,true),StructField(status,StringType,true),StructField(cidade,StringType,true),StructField(vendas,IntegerType,true),StructField(data,StringType,true)))

In [87]:
#Selecionaodo algumas colunas e passando um parametro com o Where (Forma de "calculo")  maior >
df.select('id','nome','vendas').where(F.col('vendas') > 20 ).show()

+---+-------------------+------+
| id|               nome|vendas|
+---+-------------------+------+
|  1|   Carminda Pestana|    23|
|  2|    Deolinda Vilela|    34|
|  3|   Emídio Dornelles|    34|
|  4|Felisbela Dornelles|    36|
|  6|   Matilde Rebouças|    22|
|  7|    Noêmia   Orriça|    45|
|  8|      Roque Vásquez|    65|
|  9|      Uriel Queiroz|    54|
+---+-------------------+------+

In [88]:
#Selecionaodo algumas colunas e passando um parametro com o Where (Forma de "calculo")   (maior > & menor <)

df.select('id','nome','vendas').where((F.col('vendas') > 20 ) & (F.col('vendas') < 40)).show()

+---+-------------------+------+
| id|               nome|vendas|
+---+-------------------+------+
|  1|   Carminda Pestana|    23|
|  2|    Deolinda Vilela|    34|
|  3|   Emídio Dornelles|    34|
|  4|Felisbela Dornelles|    36|
|  6|   Matilde Rebouças|    22|
+---+-------------------+------+

O campo Data veio com String, irei fazer uma manipulação para alterar o tipo(type)

In [170]:
# Uma das forma de imprimir o schema do datafarme 

df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- status: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- vendas: integer (nullable = true)
 |-- data: string (nullable = true)

In [171]:
#mudando o tipo(type) da coluna data para (Date)
df = df.withColumn('data', F.to_date(F.col('data'), 'yyyy-MM-dd'))

Estou imprimindo o schema do Datafarme e observa a coluna 'data' está alterado para date

In [173]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- status: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- vendas: integer (nullable = true)
 |-- data: date (nullable = true)

In [164]:
#Selecionado o ano da coluna Data
df.select(F.year('data')).show()

+----------+
|year(data)|
+----------+
|      2020|
|      2020|
|      2020|
|      2020|
|      2020|
|      2019|
|      2019|
|      2020|
|      2018|
|      2020|
+----------+

In [94]:
#Selecionado o ano da coluna 'Data' e passando o distinct 
df.select(F.year('data')).distinct().show()

+----------+
|year(data)|
+----------+
|      2018|
|      2019|
|      2020|
+----------+

In [96]:
#Selecionado o ano da coluna 'Data' e passando o (orderBy) para ordenar com nome 
df.select('nome', F.year('data')).orderBy('nome').show()

+-------------------+----------+
|               nome|year(data)|
+-------------------+----------+
|   Carminda Pestana|      2020|
|    Deolinda Vilela|      2020|
|   Emídio Dornelles|      2020|
|Felisbela Dornelles|      2020|
|     Graça Ornellas|      2020|
|   Matilde Rebouças|      2019|
|    Noêmia   Orriça|      2019|
|      Roque Vásquez|      2020|
|      Uriel Queiroz|      2018|
|   Viviana Sequeira|      2020|
+-------------------+----------+

In [98]:
#Contando (Count) quantas vezes aparece o ano 
df.select(F.col("data")).groupBy(F.year("data")).count().show()

+----------+-----+
|year(data)|count|
+----------+-----+
|      2018|    1|
|      2019|    2|
|      2020|    7|
+----------+-----+

In [99]:
#Somando a coluna 'vendas' com (sum)
df.select(F.sum("vendas")).show()

+-----------+
|sum(vendas)|
+-----------+
|        325|
+-----------+

In [100]:
#Ação herdata do RDD, vem em fomar de linhas 
df.collect()

[Row(id=1, nome='Carminda Pestana', status='Ativo', cidade='Santa Maria', vendas=23, data=datetime.datetime(2020, 8, 11, 0, 0)),
 Row(id=2, nome='Deolinda Vilela', status='Ativo', cidade='Novo Hamburgo', vendas=34, data=datetime.datetime(2020, 3, 5, 0, 0)),
 Row(id=3, nome='Emídio Dornelles', status='Ativo', cidade='Porto Alegre', vendas=34, data=datetime.datetime(2020, 2, 5, 0, 0)),
 Row(id=4, nome='Felisbela Dornelles', status='Ativo', cidade='Porto Alegre', vendas=36, data=datetime.datetime(2020, 2, 5, 0, 0)),
 Row(id=5, nome='Graça Ornellas', status='Ativo', cidade='Porto Alegre', vendas=12, data=datetime.datetime(2020, 2, 5, 0, 0)),
 Row(id=6, nome='Matilde Rebouças', status='Ativo', cidade='Porto Alegre', vendas=22, data=datetime.datetime(2019, 1, 4, 23, 0)),
 Row(id=7, nome='Noêmia   Orriça', status='Ativo', cidade='Santa Maria', vendas=45, data=datetime.datetime(2019, 10, 5, 0, 0)),
 Row(id=8, nome='Roque Vásquez', status='Ativo', cidade='Porto Alegre', vendas=65, data=datetime.datetime(2020, 3, 5, 0, 0)),
 Row(id=9, nome='Uriel Queiroz', status='Ativo', cidade='Porto Alegre', vendas=54, data=datetime.datetime(2018, 5, 5, 0, 0)),
 Row(id=10, nome='Viviana Sequeira', status='Ativo', cidade='Porto Alegre', vendas=0, data=datetime.datetime(2020, 9, 5, 0, 0))]

In [101]:
#Conta a quantidades de linhas no Datafarme 
df.count()

10

In [110]:
#Colocando em ordem o datafarme com as colunas ('cidade') e ('vendas')
df.orderBy(F.col("cidade").desc(),F.col('vendas').desc()).show()

+---+-------------------+------+-------------+------+-------------------+
| id|               nome|status|       cidade|vendas|               data|
+---+-------------------+------+-------------+------+-------------------+
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05 00:00:00|
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11 00:00:00|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05 00:00:00|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05 00:00:00|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05 00:00:00|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05 00:00:00|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05 00:00:00|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05 00:00:00|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05 00:00:00|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05 00:00:00|
+---+-------------------+------+-------------+------+-------------------+

In [138]:
#agrupando cidades e somando as vendas 
df.groupBy("cidade").agg(F.sum("vendas")).show()

+-------------+-----------+
|       cidade|sum(vendas)|
+-------------+-----------+
|  Santa Maria|         68|
|Novo Hamburgo|         34|
| Porto Alegre|        223|
+-------------+-----------+

In [146]:
#agrupando cidades e somando as vendas, ordernando por descrecente
df.groupBy("cidade").agg(F.sum("vendas")).orderBy(F.col('sum(vendas)').desc()).show()

+-------------+-----------+
|       cidade|sum(vendas)|
+-------------+-----------+
| Porto Alegre|        223|
|  Santa Maria|         68|
|Novo Hamburgo|         34|
+-------------+-----------+

In [147]:
#filtrando a coluna 'nome'
df.filter(F.col('nome') == 'Deolinda Vilela').show()

+---+---------------+------+-------------+------+-------------------+
| id|           nome|status|       cidade|vendas|               data|
+---+---------------+------+-------------+------+-------------------+
|  2|Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05 00:00:00|
+---+---------------+------+-------------+------+-------------------+

In [174]:
df.show()

+---+-------------------+------+-------------+------+----------+
| id|               nome|status|       cidade|vendas|      data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

# Carregando a base do datafarme

In [ ]:
df.write.format('parquet').save('parquet')